<div class="row align-items-center">
    <div *ngIf="event">
        <h1 class="mb-3">{{ event.name }}</h1>
    </div>
</div>
<div class="row gx-5 mt-2">
    <div class="col-6">
        <form #form="ngForm">
            <div class="mt-2">
                <label for="Name" class="form-label">Name</label>
                <input type="text" id="Name" name="Name" class="form-control" [(ngModel)]="registration.name" #Name="ngModel" required/>
                <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>
            <div class="mt-2">
                <label for="Contact" class="form-label">Contact</label>
                <input type="text" id="Contact" name="Contact" class="form-control" [(ngModel)]="registration.contact" #Contact="ngModel" required/>
                <div [hidden]="Contact.valid || Contact.pristine" class="alert alert-danger">
                    Contact is required
                </div>
            </div>
            <div class="mt-2">
                <label for="Country" class="form-label">Country</label>
                <select [(ngModel)]="registration.country" id="Country" name="Country" class="form-control form-select" #Country="ngModel" required>
                    <option *ngFor="let country of countries" value="{{ country.countryCode }}">{{ country.country }}</option>
                </select>
                <div [hidden]="Country.valid || Country.pristine" class="alert alert-danger">
                    Country is required
                </div>
            </div>
            <div class="mt-2">
                <label for="Email" class="form-label">Email</label>
                <input type="email" id="Email" name="Email" [email]="true" class="form-control" [(ngModel)]="registration.email" #Email="ngModel" required/>
                <div *ngIf="Email.invalid && (Email.dirty)" class="alert alert-danger">
                    <div *ngIf="Email.errors?.['required']">
                        Email is required
                    </div>
                    <div *ngIf="Email.errors?.['email']">
                        Email is invalid
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <label for="statusDesc" class="form-label">Status</label>
                <input type="text" id="statusDesc" name="statusDesc" class="form-control" [ngModel]="registration.statusDesc" disabled="disabled"/>
            </div>
            <div class="mt-2">
                <label for="Fees" class="form-label">Total fees $</label>
                <input type="text" id="Fees" name="Fees" class="form-control" [ngModel]="registration.total_fees | number: '1.2-2'" disabled="disabled"/>
            </div>
            <div class="mt-2">
                <label for="refCode" class="form-label">Reference number</label>
                <input type="text" id="refCode" name="refCode" class="form-control" [ngModel]="registration.refCode" disabled="disabled"/>
            </div>
            <div class="mt-3">
                <a [routerLink]="['/maintain-event-registration', searchParm]" class="btn btn-outline-primary mx-2 mt-1"><i class="bi bi-arrow-left-circle"></i> Back</a>
                <a (click)="update()" class="btn btn-primary mx-2" [class.disabled]="form.invalid || registration.fishRegistration.length == 0">Update</a>
                <a *ngIf="registration.status == 'UP'" class="btn btn-primary mx-2" (click)="updatePayment(registration.EventID, registration.refCode)">Paid</a>
            </div>
        </form>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead class="table-light">
                        <th width="10%">#</th>
                        <th width="30%">Classification</th>
                        <th width="30%">Code</th>
                        <th width="30%">Fees $</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of registration.fishRegistration; let i = index">
                            <th>{{ i + 1 }}</th>
                            <td>
                                <select [(ngModel)]="r.mixclass" id="classification" name="classification" class="form-control form-select" (change)="classificationChange(r)" required>
                                    <ng-container *ngFor="let c of classifications">
                                        <option *ngIf="r.unit_fees == c.fee" [ngValue]="c.fish_class + '|' + c.fish_subclass">{{ c.fish_subclass + ' (' + c.description + ')' }}</option>
                                    </ng-container>
                                </select>
                                <input type="hidden" id="mainclassification" name="mainclassification" class="form-control" [ngModel]="r.mainclassification" disabled="disabled"/>
                            </td>
                            <td>{{ r.seq }}</td>
                            <td>{{ r.unit_fees | number: '1.2-2' }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="fw-bold text-end">Total fees $</td>
                            <td>{{ registration.total_fees| number: '1.2-2' }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>