<div class="row align-items-center">
    <div *ngIf="event">
        <h1 class="mb-3">{{ event.name }}</h1>
    </div>
</div>
<div class="row gx-5 mt-2">
    <div class="col-6">
        <div class="row">
            <div class="col-4 border border-dark">
                <label class="fw-bold">Name</label>
            </div>
            <div class="col-8 border border-dark">
                <label>{{ registration.name }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border border-dark">
                <label class="fw-bold">Contact</label>
            </div>
            <div class="col-8 border border-dark">
                <label>{{ registration.contact }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border border-dark">
                <label class="fw-bold">Country</label>
            </div>
            <div class="col-8 border border-dark">
                <label>{{ registration.country }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border border-dark">
                <label class="fw-bold">Email</label>
            </div>
            <div class="col-8 border border-dark">
                <label>{{ registration.email }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border border-dark">
                <label class="fw-bold">Total fees $</label>
            </div>
            <div class="col-8 border border-dark">
                <label>{{ registration.total_fees | number: '1.2-2' }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border border-dark">
                <label class="fw-bold">Reference number</label>
            </div>
            <div class="col-8 border border-dark">
                <label class="fw-bold">{{ registration.refCode }}</label>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-9">
                <div class="alert alert-primary" role="alert">
                    You may use below QR to make the payment <b>OR</b> make the payment manually by key in above <b>reference number</b>.
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-6">
                <img [src]="paynow" title="Scan to pay" width="250px" height="250px">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead class="table-light">
                        <th width="10%">#</th>
                        <th width="30%">Classification</th>
                        <th width="30%">Code</th>
                        <th width="30%">Fees $</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of registration.fishRegistration; let i = index">
                            <th>{{ i + 1 }}</th>
                            <td>{{ r.classification }}</td>
                            <td>{{ r.seq }}</td>
                            <td>{{ r.unit_fees | number: '1.2-2' }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="fw-bold text-end">Total fees $</td>
                            <td>{{ registration.total_fees| number: '1.2-2' }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>