/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

table .btn {
    padding: 0.03rem 0.4rem;
}

.result-header{
    background-color: rgba(246, 255, 144, 0.513);   
}

.result-footer{
    background-color: rgba(144, 224, 255, 0.513);   
}